@import "config";

// input
input {
  width: 260px;
}
.ipt_box {
  display: inline-block;
  position: relative;
  .material-icons {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-12px);
  }
  &._shadow {
    width: 100%;
    // box-shadow: 4px 3px 1px 1px rgba(0, 0, 0, 1);
    box-shadow: 5px 3px 0px @textDark;
    border-radius: 8px;
    .material-icons{
      left: unset;
      right: 5px;
      color: @textDark;
    }
    input{
      width: 100%;
      border: 2px solid @textDark;
      border-radius: 8px;
      &:focus,
      &:hover {
        border: 2px solid @textDark;
      }
      &::placeholder {
        color: @placeholderColor;
      }
    }
  }

}
.g-input {
  display: inline-block;
  text-align: left;
  &._shadow {
    width: 100%;
  }
  > label {
    display: block;
    font-size: @fontSize;
  }
  .err_msg {
    font-size: 12px;
    margin-top: 2px;
    display: block;
    color: @errorColor
  }
  input {
    padding: 6px 8px;
    color: @text;
    &:focus,
    &:hover {
      border: 1px solid @text;
    }
    &.g-icon-input{
      padding-left: 32px;
    }
    &.g-icon-input-right{
      padding-right: 32px;
    }
    &.g-input-error {
      border-color: @errorColor;
    }
    &::placeholder {
      color: @placeholderColor;
    }
  }
}